.container-1{
   
    top: 205px;
    width: 360px;
    justify-content: center;
    height: 100px;
    padding-left: 20px;
    background-color: rgba(107, 10, 10, 0.993);
    color:rgba(244, 244, 252, 0.993);
    border-radius: 5px;
    box-shadow: 5px 5px 8spx rgb(10, 8, 121);
    margin-bottom: 15px;

}
.container-2 {
    display: flex;
    width: 360px;
     height: 150px;
    padding-left: 20px;
    background-color:rgba(11, 5, 71, 0.993);
    color:rgb(133, 127, 127);
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgb(15, 60, 206);
    margin-bottom: 15px;

}
.ply-image img{
    margin-top: 20px;
    border-radius: 50%;
}
.ply-details{
    padding-left: 10px;
    font-size: 15px;
}